Flask==3.0.2
Werkzeug==3.0.1
gunicorn==21.2.0
gevent==23.9.1
openai==1.61.0
tiktoken==0.6.0
transformers==4.40.0
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
nltk==3.8.1
youtube-transcript-api==0.6.3
python-pptx==0.6.23
pydub==0.25.1
redis==5.0.3
rq==1.16.2
python-dotenv==1.0.1
certifi==2024.2.2
flask-caching==2.1.0
reportlab==4.1.0
